.CountrySelector {
	position: relative;
	display: flex;
	align-items: center;
	height: 46px;
	padding: 0 14px 0 12px;
	background-color: rgb(55, 55, 55);
	border: 1px solid rgb(55, 55, 55);
	border-radius: 4px 0 0 4px;
	cursor: pointer;
}

.CountrySelector::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 30px;
	background-color: #fff;
	background: rgb(75, 75, 75);
}

.CountrySelectorHeader {
	display: flex;
	align-items: center;
}

.SelectorValue {
	font-size: 18px;
	font-weight: 400;
	margin-right: 14px;
}

.SelectorArrow {
	width: 10px;
	transition: transform .25s ease-in-out;
}

.SelectorArrow.ArrowUp {
	transform: rotate(180deg);
}

.CountrySelectorBody {
	position: absolute;
	top: 56px;
	left: 0;
	max-width: 320px;
	width: 320px;
	border-radius: 6px;
	background-color: rgb(19, 19, 19);
	z-index: 1;
}

.Options {
	list-style: none;
	overflow-y: scroll;
	max-height: 270px;
	margin-right: 1px;
	color: var(--main-color);
}

.Options::-webkit-scrollbar {
	width: 8px;
}

.Options::-webkit-scrollbar-track {
	background: transparent;
}

.Options::-webkit-scrollbar-thumb {
	background: rgb(44, 44, 44);
	border-radius: 4px;
}

.Option,
.NoResultsMessage {
	height: 34px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 12px;
	font-size: 14px;
	font-weight: 400;
}

.Option:hover {
	color: var(--light-color);
	background-color: rgb(27, 27, 27);
}

.SelectedIcon {
	width: 18px;
}

.NoResultsMessage {
	justify-content: center;
}

.SearchBar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(43, 43, 43);
}

.SearchIcon {
	width: 16px;
	margin: 0 12px;
}

.SearchInput {
	height: 40px;
	width: 100%;
	flex: 1 0;
	background: transparent;
	color: var(--light-color);
	font-size: 14px;
	font-weight: 500;
	caret-color: var(--bright-green-color);
}

.Highlight {
	color: var(--bright-green-color);
}