.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 14px;
	height: 36px;
	border-radius: 20px;
	background: var(--green-color);
	font-family: 'Karla', sans-serif;
	font-weight: 600;
	line-height: 1;
	font-size: 17px;
	color: var(--light-color);
	cursor: pointer;

	&:hover {
		background: #0a523c;
	}

	&:disabled {
		background-color: rgb(49, 49, 49);
		color: rgb(126, 126, 126);
		cursor: auto;
	}
}

.Button .ButtonLoader {
	width: 24px;
	height: 24px;
	opacity: .5;
}