.ChatListItem {
	position: relative;
	height: 72px;
	display: flex;
	align-items: center;
	padding: 0 24px;
	cursor: pointer;
}

.ChatListItem:hover {
	background-color: #ffffff09;
}

.ChatListItem:hover .ActionsBtn {
	opacity: 1;
}

.ChatmateImgWr {
	max-width: 56px;
	width: 100%;
	height: 56px;
	margin-right: 10px;
}

.ChatmateImg {
	width: 100%;
	border-radius: 50%;
}

.MessageInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ChatmateUsername {
	font-size: 17px;
	margin-bottom: 5px;
}

.MessageContent {
	display: flex;
	max-width: 200px;
	font-size: 15px;
}

.MessageText {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #b3b3b3;
}

.MessageDate {
	padding-left: 4px;
	color: #8f8f8f;
}

.ActionsBtn {
	width: 20px;
	height: 20px;
	margin-left: auto;
	opacity: 0;
}

.MoreIcon {
	width: 100%;
}