@import '@/utils/_mixins';

.ActionsMenu {
	width: 200px;
	padding: 8px 0px;
	background-color: rgb(34, 34, 34);
	border-radius: 8px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.ActionsMenu::after {
	@include addTriangleColor('top', rgb(34, 34, 34));
}