.MoreBtn {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	border-radius: 50%;
	background: transparent;
	font-family: 'Karla', sans-serif;
	cursor: pointer;
}

.MoreBtn:hover {
	background: rgb(20, 20, 20);
}

.MoreBtn:hover .MoreMenu {
	visibility: visible;
	opacity: 1;
	transition: 0.2s ease-in-out;
}

.MoreDots {
	opacity: 0.6;
}

.ProfileImg {
	width: 100%;
	border-radius: 50%;
}

.ProfileImg:hover {
	opacity: .7;
}