.MoreBtn {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	border-radius: 50%;
	background: transparent;
	font-family: 'Karla', sans-serif;
	cursor: pointer;
}

.MoreBtn:hover {
	background: rgb(20, 20, 20);
}

.MoreBtn:hover .ProfileImg {
	opacity: .7;
}

.MoreBtn:hover .MoreMenu {
	visibility: visible;
	opacity: 1;
	transition: 0.2s ease-in-out;
}

.MoreDots {
	opacity: 0.6;
}

.ProfileImg {
	width: 100%;
}

.MoreMenu {
	visibility: hidden;
	position: absolute;
	width: 200px;
	background: rgb(20, 20, 20);
	border-radius: 10px;
	right: -10px;
	top: 46px;
	padding: 10px 0;
	opacity: 0;
	z-index: 2;
	transition: 1s ease-in-out;
}

.MoreMenuItem {
	display: flex;
	align-items: center;
	padding: 10px 16px;
}

.MoreMenuItem.Logout {
	border-top: 1px solid #d1d1d11a;
}

.ItemIcon {
	margin-right: 10px;
}

.ItemText {
	font-weight: 600;
	font-size: 16px;
	color: var(--main-color);
}

.MoreMenuItem:hover {
	background-color: #ffffff07;
}

.MenuTriangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 10px solid rgb(20, 20, 20);
	right: 13px;
	top: -6px;
}