.CommentsPanel {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
}

.Comments {
	flex: 1;
	padding: 30px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgb(30, 30, 30);
		border-radius: 4px;
	}
}

.Loader {
	width: 36px;
	margin: 20px auto 0;
}

.NoComments {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
	
	.NoCommentsIcon {
		width: 160px;
		opacity: .1;
		margin-bottom: 10px;
	}

	.NoCommentsText {
		font-size: 19px;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.5);
	}
}