.CommentsPanel {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
}

.Comments {
	flex: 1;
	padding: 30px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgb(30, 30, 30);
		border-radius: 4px;
	}
}

.Loader {
	width: 36px;
	margin: 20px auto 0;
}
