@import '@/assets/styles/_mixins';

.InboxSection {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 50%;

	&:not(.Active):hover .Prompt {
		opacity: 1;
		visibility: visible;
	}

	&:not(.Active) .InboxBtn:hover {
		opacity: 0.7;
	}

	/* 
	&.Active .InboxIcon {
		fill: #D1D1D1;
	} */
}

.InboxBtn {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.Prompt::after {
	@include addTriangleStyles('top', rgb(36, 36, 36));
}
