.PaymentForm {
	padding: 30px 30px 40px;
}

.FormFieldsBottom {
	display: flex;
	gap: 20px;
}

.FieldLabel {
	display: block;
	font-size: 17px;
	margin-bottom: 4px;
}

.PaymentDescr {
	font-size: 13px;
	color: #ffffffb4;
	margin: 24px 0;
}

.TryBtn {
	height: 50px;
	background-color: var(--bright-green-color);
	border-radius: 12px;
	color: var(--white-color);
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;

	&:not(:disabled):hover {
		background-color: var(--bright-green-color);
		opacity: .8;
	}
}