.SearchAccount {
	display: flex;
	margin-bottom: 20px;
}

.AccountImgWr {
	width: 60px;
	margin-right: 20px;
}

.AccountImg {
	width: 100%;
	border-radius: 50%;
}

.AccountInfo {
	padding-top: 4px;
}

.Username {
	font-weight: normal;
}

.AdditInfo {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.Dot {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: var(--main-color);
	margin: 0 6px;
}

.Descr {
	font-size: 14px;
}
