.PasswordInput {
	position: relative;


	&.WithError:not(:focus-within) .ShowPasswordIcon {
		right: 50px;
	}
}

.ShowPasswordIcon {
	position: absolute;
	width: 18px;
	height: 18px;
	right: 20px;
	top: 14px;
	z-index: 1;
	cursor: pointer;
}