.PaymentSection {
	flex: 1 1 50%;
	border-left: 2px solid #ffffff1a;
}

.SectionHeader {
	padding: 30px 30px 45px;
	border-bottom: 2px solid #ffffff1a;
}

.SectionTitle {
	font-size: 25px;
    font-weight: 700;
	line-height: 1;
    margin-bottom: 20px;
}
