.Story {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	z-index: 1;
}

.StoryContent {
	position: relative;
	flex: 1 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgb(20, 20, 20);
}

.BackgroundImg {
	position: absolute;
	left: -20%;
	top: -20%;
	height: 150%;
	filter: blur(10px);
	opacity: .6;
	z-index: 0;
}

.StoryHeader {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	padding: 20px 20px 15px;
	justify-content: space-between;
	z-index: 1;
}

.Back {
	width: 100px;
}

.BackBtn {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: rgb(71, 71, 71);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.BackBtn:hover {
	opacity: .7;
}

.CloseIcon {
	width: 22px;
}

.ReportBtn {
	width: 100%;
	max-width: 100px;
	height: 38px;
	background-color: rgb(71, 71, 71);
	color: #fff;
	font-size: 14px;
}

.ReportBtn:hover {
	background-color: rgba(71, 71, 71, 0.7);
}

.ReportIcon {
	width: 16px;
	margin-right: 4px;
}

.StoryNav {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 20px;
	z-index: 1;
}

.StoryNavLink {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: rgb(71, 71, 71);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.StoryNavLink:hover {
	opacity: .7;
}

.NavLinkIcon {
	width: 30px;
	height: 30px;
}

.StoryNavLink:first-child {
	margin-bottom: 14px;
}

.StoryNavLink:first-child {
	transform: rotate(180deg);
}

.ActiveStory {
	position: relative;
	width: 100%;
}

.StoryDetails {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 540px;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 3, 1);
}

.Underline {
	margin: 0 5px;
	min-height: 1px;
	background-color: #d1d1d11a;
}

.DetailsTop {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	padding-top: 20px;
	overflow-y: scroll;
}

.DetailsTop::-webkit-scrollbar {
	width: 8px;
}

.DetailsTop::-webkit-scrollbar-track {
	background: transparent;
}

.DetailsTop::-webkit-scrollbar-thumb {
	background: #09483549;
	border-radius: 4px;
}

.DetailsBottom {
	display: flex;
	align-items: center;
	height: 94px;
	padding: 0 30px;
	border-top: 1px solid #d1d1d11a;
}

.LoginMessage {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 4px;
	background: rgb(29, 29, 29);
	color: var(--bright-green-color);
	cursor: pointer;
}