.ActionItem {
	height: 48px;
	padding: 0px 16px
}

.ActionItem:hover {
	background-color: rgb(41, 41, 41);
}

.ItemContent {
	height: 100%;
	display: flex;
	align-items: center;
}

.ActionItem:not(:last-child) .ItemContent {
	border-bottom: 1px solid rgb(41, 41, 41);
}

.ActionIcon {
	width: 18px;
	height: 18px;
	margin-right: 8px;
}

.ActionTitle {
	font-size: 17px;
}