.CVCCodeInput {
	position: relative;

	&.WithError:not(:focus-within) .CVCIconWr {
		right: 50px;
	}
}

.CVCIconWr {
	position: absolute;
	right: 12px;
	top: 0;
	height: 46px;
	display: flex;
	align-items: center;

	img {
		width: 28px;
		opacity: .5;
	}
}