.BirthdaySelector {
	margin-bottom: 20px;
}

.SelectorTitle {
	display: inline-block;
	margin-bottom: 4px;
}

.Selectors {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.SelectorDescr {
	font-size: 14px;
	font-weight: 500;
	color: #a1a1a1;
}
