.Like {
	width: 100%;
	background-color: rgb(20, 20, 20);

	&:hover {
		background-color: rgb(26, 26, 26);
	}
}

.StoryLink {
	height: 100%;
	display: flex;
	padding: 8px 16px;
	cursor: pointer;
}

.UserImgWr,
.UserImgSmallWr {
	position: relative;
	max-width: 48px;
	width: 100%;
	height: 48px;
	border-radius: 50%;
}

.UserImgSmallWr {
	border-radius: 0;
}

.UserImgSmall {
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid rgb(18, 18, 18);
	bottom: 0;
	left: 0;
	z-index: 1;

	&:last-child {
		top: 0;
		right: 0;
		left: auto;
		bottom: auto;
		z-index: 0;
	}
}

.UserImg {
	width: 100%;
	border-radius: 50%;
}

.LikeInfo {
	padding: 0 12px;
}

.UsersCount {
	display: -webkit-box;
	overflow: hidden;
	color: var(--light-color);
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-break: break-word;
	line-clamp: 1;
	-webkit-line-clamp: 1;
}

.DisplayName {
	color: var(--light-color);
	display: block;
	max-width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		opacity: 0.8;
	}
}

.LikeNote {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: -0.3px;
	font-weight: 600;
	color: rgb(130, 130, 130);

	.LikeDate {
		margin-left: 5px;
	}
}

.ParentComment {
	position: relative;
	display: -webkit-box;
	overflow: hidden;
	padding-left: 8px;
	-webkit-box-orient: vertical;
	font-size: 15px;
	letter-spacing: -0.3px;
	font-weight: 400;
	color: rgb(130, 130, 130);
	text-overflow: ellipsis;
	word-break: break-word;
	line-clamp: 1;
	-webkit-line-clamp: 1;

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 2px;
		height: 17px;
		left: 0;
		top: 1px;
		background-color: rgb(100, 100, 100);
	}
}

.Story {
	max-width: 42px;
	width: 100%;
	height: 56px;
	margin-left: auto;

	&Img {
		width: 100%;
		border-radius: 2px;
	}
}
