.Comment {
	width: 100%;
	background-color: rgb(20, 20, 20);

	&:hover {
		background-color: rgb(26, 26, 26);
	}
}

.CommentLink {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 8px 16px;
	cursor: pointer;
}

.AuthorImgWr {
	max-width: 48px;
	width: 100%;
	height: 48px;

	.AuthorImg {
		width: 100%;
		border-radius: 50%;
	}
}

.CommentInfo {
	width: 100%;
	padding: 0 12px;
}

.AuthorName {
	color: var(--light-color);

	&:hover {
		opacity: .8;
	}
}

.CommentContent {
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: -0.3px;
	font-weight: 400;
	margin-bottom: 2px;

	.CommentNote {
		font-weight: 600;
		margin-right: 3px;
	}

	.CommentDate {
		font-weight: 600;
		color: rgb(130, 130, 130);
		margin-left: 5px;
	}
}

.ParentComment {
	position: relative;
	display: -webkit-box;
	overflow: hidden;
	padding-left: 8px;
	-webkit-box-orient: vertical;
	font-size: 15px;
	letter-spacing: -0.3px;
	font-weight: 400;
	color: rgb(130, 130, 130);
	text-overflow: ellipsis;
	word-break: break-word;
	-webkit-line-clamp: 1;

	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 2px;
		height: 17px;
		left: 0;
		top: 1px;
		background-color: rgb(100, 100, 100);
	}
}

.Story {
	max-width: 42px;
	width: 100%;
	height: 56px;
	margin-left: auto;
	background-color: blueviolet;
	border-radius: 2px;
}