.EmojiPicker {
	position: absolute;
	right: 0;
	bottom: calc(100% + 10px);
	width: 300px;
	height: 300px;
	padding: 10px;
	border-radius: 12px;
	background-color: rgb(32, 32, 32);
	overflow: hidden;
	z-index: 1;
}

.Emojis {
	height: 100%;
	overflow-y: auto;
}

.Emojis::-webkit-scrollbar {
	width: 8px;
}

.Emojis::-webkit-scrollbar-track {
	background: rgb(40, 40, 40);
	border-radius: 4px;
}

.Emojis::-webkit-scrollbar-thumb {
	background: rgb(70, 70, 70);
	border-radius: 4px;
}

.EmojisCategory:not(:last-child) {
	margin-bottom: 8px;
}

.EmojisList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
}

.CategoryName {
	display: block;
	margin-bottom: 8px;
	font-size: 17px;
}