$transition: .3s ease;

.SubscriptionPlan {
	position: relative;
	max-width: 400px;
	width: 100%;
	padding: 24px 16px;
	background-color: var(--white-color);
	border: 4px solid var(--white-color);
	border-radius: 14px;
	opacity: .7;
	cursor: pointer;
	transition: border-color $transition, opacity $transition, transform $transition;

	&.Selected {
		opacity: 1;
		transform: scale(1.1);
		border-color: var(--bright-green-color);

		.Check {
			opacity: 1;
		}
	}

	&.WithDescr {
		padding-top: 32px;
	}
}

.PlanDescr {
	position: absolute;
	top: -4px;
	left: -4px;
	background-color: var(--bright-green-color);
	padding: 4px 10px;
	border-radius: 14px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.Check {
	position: absolute;
	right: -15px;
	top: -15px;
	width: 30px;
	height: 30px;
	background-color: var(--bright-green-color);
	border-radius: 50%;
	padding: 5px;
	opacity: 0;
	transition: opacity $transition;

	&Icon {
		width: 100%;
		height: 100%;
	}
}

.PlanMainInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	color: var(--bright-green-color);
	font-weight: 700;


	.PlanName {
		font-size: 26px;
	}

	.PlanPrice {
		text-transform: uppercase;
		font-size: 17px;
	}
}