.Sidebar {
	max-width: 250px;
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	color: var(--main-color);
}

.LoginBtnWr {
	padding: 0 10px;
}

.LoginBtn {
	margin-bottom: 30px;
	height: 45px;
	border-radius: 30px;
}
