.ProfileStory {
	max-width: 306px;
	min-width: 270px;
}

.ProfileStoryContent {
	position: relative;
	margin-bottom: 5px;
}

.Story {
	width: 100%;
	border-radius: 8px;
}

.ViewsInfo {
	position: absolute;
	bottom: 12px;
	left: 12px;
	display: flex;
	align-items: center;
}

.ViewsIcon {
	width: 24px;
	margin-right: 2px;
}

.Views {
	font-size: 16px;
}

.InfoDescr {
	margin-bottom: 5px;
	font-size: 15px;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
