.SelectorOption {
	height: 34px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 12px;
	font-size: 14px;
	font-weight: 400;
}

.SelectorOption:hover {
	color: var(--light-color);
	background-color: rgb(27, 27, 27);
}

.SelectedIcon {
	width: 18px;
}