@mixin addTriangleBorder($position, $color) {
	@if ($position=='top') {
		border-color: transparent transparent #{$color} transparent;
	}

	@else if ($position=='bottom') {
		border-color: #{$color} transparent transparent transparent;
	}

	@else if ($position=='left') {
		border-color: transparent #{$color} transparent transparent;
	}

	@else if ($position=='right') {
		border-color: transparent transparent transparent #{$color};
	}
}