.Title {
    text-align: center;
	margin-bottom: 25px;
}

.BackBtn {
	width: 38px;
	height: 38px;
	position: absolute;
	left: 15px;
	top: 15px;
	background: none;
}

.BackBtn:hover {
	background-color: rgb(50, 50, 50);
}

.BackIcon {
	width: 18px;
	height: 18px;
	transform: rotate(90deg);
}

.FormHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.HeaderBtn,
.FooterBtn {
	display: inline-flex;
	font-size: 13px;
	color: var(--main-color);
	cursor: pointer;
}

.HeaderBtn:hover,
.FooterBtn:hover {
	opacity: .7;
}

.PhoneField {
	display: flex;
}

.Footer {
	display: flex;
	align-items: center;
}

.FooterDivider {
	width: 1px;
    height: 12px;
    margin: 0 16px;
    background: rgb(75, 75, 75);
}

.LoginBtn {
	height: 46px;
	border-radius: 4px;
	margin-top: 30px;
}
