.ActionsMenu {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: calc(100% + 10px);
	display: flex;
	gap: 12px;
	background: rgb(62, 62, 62);
	border-radius: 8px;
	padding: 10px 14px;
	color: var(--light-color);
	z-index: 2;
}

.PromptTriangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 10px solid rgb(62, 62, 62);
	left: 50%;
	transform: translateX(-50%);
	bottom: -6px;
}

.Action {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.5px;
	cursor: pointer;	
}

.Action:hover {
	opacity: .7;
}
