.SettingsPanel {
	max-width: 740px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 24px 24px;
	background: rgb(20, 20, 20);
	border-radius: 10px;
	overflow-y: auto;
}

.SettingsPanel::-webkit-scrollbar {
	width: 0px;
}
