.SearchBar {
	max-width: 430px;
	width: 100%;
	height: 46px;
}

.SearchForm {
	display: flex;
	height: 100%;
	justify-content: space-between;
	border-radius: 90px;
	background-color: rgb(34, 34, 34);
	overflow: hidden;
	margin-bottom: 7px;
}

.SearchInput {
	max-width: 380px;
	width: 100%;
	font-family: 'Rubik Medium';
	padding: 10px 16px;
	background-color: transparent;
	color: rgb(197, 197, 197);
	font-size: 14px;
}

.SearchInput::placeholder {
	color: rgba(255, 255, 255, 0.3);
	font-size: 14px;
}

.SearchBtn {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
	background-color: transparent;
	cursor: pointer;
}

.SearchBtn:hover {
	background-color: rgb(48, 48, 48);
}

.SearchIcon {
	opacity: 0.3;
	width: 24px;
}

/* Light */

.SearchBar.Light .SearchForm {
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.SearchBar.Light .SearchInput {
	color: #fff;
}

.SearchBar.Light .SearchInput::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.SearchBar.Light .SearchIcon {
	opacity: .8;
}

.SearchBar.Light .SearchBtn:hover {
	background-color: rgba(255, 255, 255, 0.144);
}
