.StoriesViewsMenu {
	height: 44px;
	display: flex;
	border-bottom: 1px solid #d1d1d11a;
	background-color: rgb(18, 18, 18);
	margin-bottom: 20px;
}

.StoriesList {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
