.Comment {
	width: 100%;
	background-color: rgb(20, 20, 20);
}

.Comment:hover {
	background-color: rgb(26, 26, 26);
}

.CommentLink {
	padding: 8px 16px;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 8px 16px;
	cursor: pointer;
}