.ExploreStory {
	max-width: 510px;
	min-width: 400px;
}

.ExploreStoryContent {
	position: relative;
	margin-bottom: 4px;
}

.Story {
	width: 100%;
	border-radius: 8px;
}

.ViewsInfo {
	position: absolute;
	bottom: 14px;
	left: 14px;
	display: flex;
	align-items: center;
}

.ViewsIcon {
	width: 24px;
	margin-right: 2px;
}

.Views {
	line-height: 1;
	font-weight: 700;
}

.InfoDescr {
	margin-bottom: 5px;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.DescrText {
	margin-right: 2px;
}

.Tag {
	color: var(--main-color);
	margin: 0 2px;
}

.Tag:hover {
	opacity: .7;
}

.UserInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2px;
}

.UserLink {
	display: flex;
	align-items: center;
}

.ProfileImg {
	width: 26px;
	margin-right: 6px;
	border-radius: 50%;
}

.Username {
	font-weight: 500;
}

.Username:hover {
	opacity: 0.7;
}

.LikesInfo {
	display: flex;
	align-items: center;
}

.LikeIcon {
	width: 20px;
	margin-right: 6px;
}