.FriendshipBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
	width: 106px;
	height: 36px;
	padding: 6px 8px;
	border-radius: 10px;
	font-size: 17px;
	letter-spacing: -0.5px;

	&.FriendsBtn,
	&.FollowingBtn {
		background: rgba(255, 255, 255, .08);
		color: var(--white-dark-color);

		&:hover {
			background: rgba(255, 255, 255, 0.062);
		}
	}

	&.FriendsBtn .FriendsIcon {
		width: 14px;
		margin-right: 6px;
	}

}