.Sidebar {
	max-width: 250px;
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	color: var(--main-color);
}

.LoginBtnWr {
	padding: 0 10px;
}

.LoginBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
	padding: 0 14px;
	height: 45px;
	border-radius: 30px;
	background: var(--green-color);
	font-family: 'Rubik Medium';
	font-size: 16px;
	color: var(--main-color);
	cursor: pointer;
}

.LoginBtn:hover {
	background: #0a523c;
}