.Compare {
	max-width: 620px;
	width: 100%;
}

.CompareTitle {
	text-align: center;
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 50px;
}

.CompareInfoBox {
	width: 100%;
	padding: 24px 40px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	margin-bottom: 50px;
	font-size: 19px;
}

.InfoBoxInner {
	position: relative;
}

.PremiumHighlightBox {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}

.InfoBoxHeader {
	height: 86px;
	display: flex;
	align-items: center;

	.HeaderSpacer {
		flex: 1 1 50%;
	}

	.HeaderItem {
		flex: 1 1 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: 700;

		.PremiumIcon {
			width: 70%;
		}
	}
}