.Header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 10px 20px;
	border-bottom: 1px solid #1f1f1f;
	z-index: 2;
}

/* Test */
.AuthBtnTest {
	position: absolute;
	left: 300px;
	width: 140px;
	height: 40px;
	background-color: blueviolet;
	cursor: pointer;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;

	&:hover {
		opacity: .8;
	}
}
