.TagStory {
	max-width: 306px;
	width: 100%;
	margin: 10px;
}

.TagStoryContent {
	display: flex;
	position: relative;
	margin-bottom: 4px;
}

.Story {
	width: 100%;
	border-radius: 8px;
}

.UserInfoLink {
	position: absolute;
	left: 12px;
	bottom: 12px;
	display: flex;
	align-items: center;
}

.ProfileImg {
	width: 28px;
	margin-right: 6px;
	border-radius: 50%;
}

.Username {
	font-size: 15px;
}

.TagStoryDescr {
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 4px;
}