.ChatList {
	list-style: none;
	overflow-y: auto;
}

.ChatList::-webkit-scrollbar-track {
	background: transparent;
}

.ChatList::-webkit-scrollbar-thumb {
	background: #09483549;
	border-radius: 4px;
}

.ChatList::-webkit-scrollbar {
	width: 8px;
}