.ActionsBtn {
	position: relative;
	width: 28px;
	height: 28px;
	z-index: 1;
	cursor: pointer;

	.MoreIcon {
		width: 100%;
		height: 100%;
	}

	&:hover .ActionsMenuWrapper {
		visibility: visible;
		opacity: 1;
	}
}

.ActionsMenuWrapper {
	width: 180px;
	padding: 8px 0;
	border-radius: 8px;
	background-color: rgb(34, 34, 34);
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
}