.NavItem {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 14px 24px;
	font-size: 19px;
	font-weight: 500;
	cursor: pointer;
}

.NavItem:hover {
	background-color: #ffffff0a;
}

.NavItem.Active {
	color: var(--bright-green-color);
}

.NavItem.Active svg path {
	stroke: var(--bright-green-color);
}

.NavItem svg {
	width: 24px;
	height: 24px;
	margin-right: 12px;
}