@import '@/utils/_mixins';

.Comment {
	display: flex;
}

.ImgUserLink {
	display: flex;
	margin-right: 10px;
}

.ProfileImg {
	width: 40px;
	border-radius: 50%;
}

.Comment.Reply .ProfileImg {
	width: 24px;
}

.CommentContent {
	flex: 1;
}

.UserLink {
	display: inline-block;
}

.UserTitle {
	font-size: 15px;
	font-weight: 700;
}

.UserLink:hover {
	opacity: .7;
}

.CommentText {
	margin-bottom: 6px;
	font-weight: 400;
}

.BottomInfo {
	display: flex;
	font-size: 14px;
	color: rgb(114, 114, 114);
}

.CommentDate {
	margin-right: 35px;
}

.ReplyBtn {
	cursor: pointer;
	font-weight: 700;
}

.ReplyBtn:hover {
	opacity: .8;
}

.CommentInteraction {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.LikeBtn {
	width: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(114, 114, 114);
	font-weight: 700;
	cursor: pointer;
}

.LikeIcon {
	width: 20px;
	height: 20px;
	margin-bottom: 4px;
	fill: rgb(114, 114, 114);
}

.ActionsBtn {
	width: 22px;
	height: 22px;
	opacity: 0;
}

.Comment:hover .ActionsBtn {
	opacity: 1;
}

.ActionsMenu::after {
	@include addTriangleStyles('top', rgb(36, 36, 36));
}