.Comment {
	display: flex;
}

.ImgUserLink {
	display: flex;
	margin-right: 10px;
}

.ProfileImg {
	width: 40px;
	border-radius: 50%;
}

.Comment.Reply .ProfileImg {
	width: 24px;
}

.CommentInfo {
	flex: 1;
}

.UserLink {
	display: inline-block;
	margin-bottom: 2px;
	font-size: 14px;
}

.UserLink:hover {
	opacity: .7;
}

.CommentText {
	margin-bottom: 6px;
	line-height: 1.3;
}

.BottomInfo {
	display: flex;
	font-size: 14px;
	color: rgb(114, 114, 114);
}

.CommentDate {
	margin-right: 35px;
}

.ReplyBtn {
	cursor: pointer;
}

.ReplyBtn:hover {
	opacity: .8;
}

.CommentLikes {
	padding: 16px 0 0 18px;
}

.LikeBtn {
	width: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(114, 114, 114);
	cursor: pointer;
}

.LikeIcon {
	width: 20px;
	height: 20px;
	margin-bottom: 4px;
	fill: rgb(114, 114, 114);
}
