.FormGroup {
	position: relative;
	flex: 1 0;
	margin-bottom: 10px;

	&.GroupError {
		.Input {
			border-color: #FF4C3A;
		}

		.WarningIcon {
			display: block;
		}
	}

	/* .Code */
	&.Code .Input {
		border-radius: 4px 0 0 4px;
	}

	/* .Password */
	&.Password .InputIcon {
		padding-right: 56px;
	}

	/* .Phone */
	&.Phone .Input {
		border-radius: 0 4px 4px 0;
	}

	/* .Username */
	&.Username {
		margin-bottom: 6px;
	}

	/* .CardNumber */
	&.CardNumber .InputIcon {
		padding-right: 170px;
	}
}

.Input {
	width: 100%;
	height: 46px;
	padding: 0 12px;
	background-color: rgb(55, 55, 55);
	border: 1px solid rgb(55, 55, 55);
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	color: var(--main-color);
	caret-color: var(--bright-green-color);
}

.InputIcon {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	height: 46px;
	padding-right: 20px;

	.WarningIcon {
		display: none;
		width: 16px;
		height: 16px;
	}
}

.InputError {
	font-size: 12px;
	line-height: 1;
	letter-spacing: -0.3px;
	color: #FF4C3A;
	margin-top: 9px;
}