.ChoosePlan {
	max-width: 500px;
	width: 100%;
}

.ChoosePlanTitle {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
}

.SubscriptionPlansList {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin: 100px 0;
}

.PlanDescription {
	height: 45px;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 40px;
}