.NotificationsListWr {
	overflow-y: auto;
	border-radius: 0 10px;
}

.NotificationsListWr::-webkit-scrollbar {
	width: 8px;
}

.NotificationsListWr::-webkit-scrollbar-track {
	background: transparent;
}

.NotificationsListWr::-webkit-scrollbar-thumb {
	background: #09483549;
	border-radius: 4px;
}

.NotificationsList {
	list-style: none;
}

.NoNotifications {
	display: flex;
	flex-direction: column;
	padding: 80px 12px 20px;
	text-align: center;
}

.NoNotificationsImg {
	height: 90px;
	margin-bottom: 12px;
}

.NoNotificationsTitle {
	margin-bottom: 10px;
	font-size: 17px;
	color: var(--light-color)
}

.NoNotificationsDescr {
	font-size: 15px;
}

.DateText {
	padding: 0 16px;
	font-size: 15px;
	color: rgb(130, 130, 130);
}
