.Notifications {
	position: absolute;
	right: calc(50% - 27px);
	top: calc(100% + 10px);
	display: flex;
	flex-direction: column;
	width: 380px;
	height: 640px;
	padding-top: 24px;
	border-radius: 10px;
	background: rgb(20, 20, 20);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.NotifTriangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 10px solid rgb(20, 20, 20);
	right: 13px;
	top: -6px;
}

.NotifHeader {
	padding: 0 16px;
	margin-bottom: 12px;
}

.Notifications .NotifTitle {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -1.2px;
	margin-bottom: 16px;
}

.NotifCategories {
	display: flex;
	flex-wrap: wrap;
	gap: 12px 8px;
}

.NotifCategory {
	width: auto;
	height: auto;
	padding: 3px 8px;
	border-radius: 12px;
	background-color: rgb(36, 36, 36);
	color: var(--main-color);
	font-size: 14px;
	transition: background-color .2s ease-in-out;
}

.NotifCategory.Active {
	background-color: var(--main-color);
	color: rgb(36, 36, 36);
}

.NotifCategory:not(.Active):hover {
	background-color: rgb(46, 46, 46);
}