.ForYouStory {
	max-width: 1000px;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #d1d1d11a;
}

.StoryHeader {
	display: flex;
}

.UserLink {
	display: flex;
	width: 56px;
	height: 56px;
	margin-right: 14px;
}

.ProfileImg {
	width: 100%;
	border-radius: 50%;
}

.HeaderInfo {
	max-width: 50%;
	padding-top: 6px;
	margin-bottom: 10px;
}

.HeaderInfoUser {
	display: inline-flex;
	align-items: center;
	margin-bottom: 2px;
}

.HeaderInfoUser:hover .InfoUsername {
	opacity: .7;
}

.InfoUsername {
	margin-right: 10px;
	font-size: 18px;
	font-weight: 700;
}

.InfoTitle {
	padding-top: 2px;
	font-weight: 400;
}

.InfoDescr {
	margin-bottom: 4px;
	font-weight: 500;
}

.DescrText {
	margin-right: 2px;
}

.Tag {
	color: var(--main-color);
	margin: 0 2px;
}

.Tag:hover {
	opacity: .7;
}

.InfoMusic {
	font-weight: 500;
}

.MusicIcon {
	width: 12px;
	height: 12px;
	margin-right: 4px;
}

.FollowBtn {
	margin-left: auto;
	max-width: 120px;
	height: 40px;
	margin-top: 8px;
}

.StoryWrapper {
	position: relative;
}

.StoryWrapper:hover .ActionsBtn {
	opacity: 1;
}

.StoryLink {
	display: flex;
}

.Story {
	width: 100%;
	border-radius: 12px;
}

.StoryPanel {
	position: absolute;
	right: 20px;
	top: 50%;
	width: 70px;
	padding: 24px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-radius: 35px;
	background-color: rgba(0, 3, 1, 0.336);
	transform: translateY(-50%);
}

.PanelItem {
	text-align: center;
}

.PanelItem .ItemIcon {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.ActionsBtn {
	position: relative;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.MoreIcon {
	width: 100%;
	height: 100%;
}

.ActionsMenu {
	position: absolute;
	top: calc(100% + 10px);
	right: -13px;
	width: 180px;
	padding: 8px 0;
	border-radius: 8px;
	background-color: rgb(34, 34, 34);
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
}

.ActionsBtn:hover .ActionsMenu {
	visibility: visible;
	opacity: 1;
}

.ActionsMenuItem {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	color: var(--white-color);
}

.ActionsMenuItem:hover {
	background-color: #ffffff17;
}

.ActionsItemIcon {
	width: 22px;
	height: 22px;
	margin-right: 8px;
}

.ActionsItemIcon path {
	stroke: var(--white-color);
}

.MenuTriangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 10px solid rgb(34, 34, 34);
	right: 13px;
	top: -6px;
}
