.ForYouStory {
	max-width: 1000px;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #d1d1d11a;
}

.StoryHeader {
	display: flex;
}

.ImgUserLink {
	display: flex;
	margin-right: 14px;
}

.ProfileImg {
	width: 56px;
	border-radius: 50%;
}

.HeaderInfo {
	max-width: 50%;
	padding-top: 6px;
	margin-bottom: 10px;
}

.HeaderInfoUser {
	display: inline-flex;
	align-items: center;
	margin-bottom: 2px;
}

.HeaderInfoUser:hover .InfoUsername {
	opacity: .7;
}

.InfoUsername {
	margin-right: 10px;
	font-size: 18px;
	font-weight: 700;
}

.InfoTitle {
	padding-top: 2px;
	font-weight: 400;
}

.InfoDescr {
	margin-bottom: 4px;
	font-weight: 500;
}

.DescrText {
	margin-right: 2px;
}

.Tag {
	color: var(--main-color);
	margin: 0 2px;
}

.Tag:hover {
	opacity: .7;
}

.InfoMusic {
	font-weight: 500;
}

.MusicIcon {
	width: 12px;
	height: 12px;
	margin-right: 4px;
}

.FollowBtn {
	margin-left: auto;
	max-width: 120px;
	height: 40px;
	margin-top: 8px;
}

.StoryWrapper {
	position: relative;
}

.StoryLink {
	display: flex;
}

.Story {
	width: 100%;
	border-radius: 12px;
}

.StoryInfo {
	position: absolute;
	right: 20px;
	top: 50%;
	width: 70px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	background-color: rgba(0, 3, 1, 0.507);
	transform: translateY(-50%);
}

.StoryInfoItem {
	text-align: center;
	margin: 10px 0;
}

.ItemIcon {
	width: 32px;
	height: 32px;
	cursor: pointer;
}