@import '@/utils/_mixins';

.ForYouStory {
	max-width: 1000px;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #d1d1d11a;
}

.StoryHeader {
	display: flex;
}

.UserLink {
	display: flex;
	width: 56px;
	height: 56px;
	margin-right: 14px;

	.ProfileImg {
		width: 100%;
		border-radius: 50%;
	}
}

.HeaderInfo {
	max-width: 50%;
	padding-top: 6px;
	margin-bottom: 10px;
}

.HeaderInfoUser {
	display: inline-flex;
	align-items: center;
	margin-bottom: 2px;

	&:hover .InfoUsername {
		opacity: .7;
	}

	.InfoUsername {
		margin-right: 10px;
		font-size: 18px;
		font-weight: 700;
	}

	.InfoTitle {
		padding-top: 2px;
		font-weight: 400;
	}
}

.InfoDescr {
	margin-bottom: 4px;
	font-weight: 500;

	.DescrText {
		margin-right: 2px;
	}

	.Tag {
		color: var(--main-color);
		margin: 0 2px;

		&:hover {
			opacity: .7;
		}
	}
}

.InfoMusic {
	font-weight: 500;

	.MusicIcon {
		width: 12px;
		height: 12px;
		margin-right: 4px;
	}
}

.FollowBtn {
	margin-left: auto;
	max-width: 120px;
	height: 40px;
	margin-top: 8px;
}

.StoryWrapper {
	position: relative;
}

.StoryLink {
	display: flex;

	.Story {
		width: 100%;
		max-height: 562px;
		height: 100%;
		border-radius: 12px;
	}
}

.StoryPanel {
	position: absolute;
	right: 20px;
	top: 50%;
	width: 70px;
	padding: 24px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-radius: 35px;
	background-color: rgba(0, 3, 1, 0.336);
	transform: translateY(-50%);
}

.PanelItem {
	text-align: center;

	.ItemIcon {
		width: 32px;
		height: 32px;
		cursor: pointer;
	}
}

.ActionsMenu::after {
	@include addTriangleStyles('top', rgb(36, 36, 36));
}