.StoryInfo {
	padding: 30px;
	border-bottom: 1px solid #d1d1d11a;
}

.StoryInfoTop {
	display: flex;
	align-items: center;
	margin-bottom: 17px;
}

.ImgUserLink {
	display: flex;
	margin-right: 12px;

	.ProfileImg {
		width: 40px;
		border-radius: 50%;
	}
}

.UserLink:hover {
	opacity: .7;
}

.Username {
	font-weight: 800;
}

.UserInfoBottom {
	display: flex;
	align-items: center;
	font-weight: 500;

	.Dot {
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background-color: var(--main-color);
		margin: 0 6px;
	}
}

.FollowBtn {
	height: 36px;
	margin-left: auto;
}

.InfoDescr {
	margin-bottom: 10px;

	.Mention {
		font-weight: 700;
		color: rgb(101, 103, 218);

		&:hover {
			opacity: .7;
		}
	}
}

.InfoMusic {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-weight: 500;

	.MusicIcon {
		width: 12px;
		height: 12px;
		margin-right: 10px;
	}
}

.StoryInfoBottom {
	display: flex;
	align-items: center;
	gap: 24px;
}

.StoryInfoItem {
	display: flex;
	align-items: center;
	cursor: pointer;

	&:hover {
		opacity: .7;
	}

	.ItemIcon {
		width: 26px;
		height: 26px;
		margin-right: 8px;

		&.Liked {
			fill: rgb(241, 51, 51);
		}
	
		&.Favorited path {
			fill: rgb(203, 216, 23);
		}
	
		&.Shared {
			fill: rgb(182, 182, 182);
		}
	}

	.ItemNumber {
		font-size: 14px;
		font-weight: 700;
	}
}

