.PlanSection {
	flex: 1 1 50%;
	border-right: 2px solid #ffffff1a;
}

.SectionItem {
	display: flex;
	gap: 18px;
	padding: 30px;

	&:not(.WithTrialInfo) {
		border-bottom: 2px solid #ffffff1a;
	}

	&.WithTrialInfo {
		flex-direction: column;
		gap: 30px;
	}

	&Title {
		font-size: 20px;
		min-width: 140px;
	}

	&Info {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.InfoValue {
			font-size: 25px;
			font-weight: 700;
			line-height: 1;
		}

		.InfoDescr {
			font-size: 17px;
			font-weight: 400;
			color: #ffffffcc;
		}

		.ViewAllPlansBtn {
			align-self: flex-start;
			text-transform: uppercase;
			font-size: 18px;
			color: var(--bright-green-color);
			cursor: pointer;

			&:hover {
				opacity: .7;
			}
		}
	}
}
