.Follow {
	position: relative;
	width: 100%;
	background-color: rgb(20, 20, 20);

	&:hover {
		background-color: rgb(26, 26, 26);
	}
}

.UserLink {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 8px 16px;
	cursor: pointer;
}

.UserImgWr {
	max-width: 48px;
	width: 100%;
	height: 48px;
	margin-right: 12px;

	.UserImg {
		width: 100%;
		border-radius: 50%;
	}
}

.UserInfo {
	display: flex;
	flex-direction: column;

	.DisplayName {
		color: var(--light-color);
		max-width: 180px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover {
			opacity: .8;
		}
	}

	.FollowDate {
		font-size: 15px;
		color: rgb(130, 130, 130);
	}
}

.Follow .FollowButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	min-width: auto;
	width: 96px;
	height: 32px;
	padding: 0;
	border-radius: 10px;
	font-size: 15px;
	letter-spacing: -0.5px;
}