.MenuPanel {
	position: relative;
	max-width: 360px;
	width: 100%;
	height: 100%;
	background: rgb(20, 20, 20);
	margin-right: 16px;
	border-radius: 10px;
}

.PanelHeader {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px 0 24px;
}

.HeaderTitle {
	font-size: 24px;
	color: var(--white-dark-color);
}

.SettingsBtn {
	width: 28px;
	height: 28px;
	padding: 0;
	background-color: transparent;
}

.SettingsIcon {
	width: 100%;
}

.BackBtn {
	position: absolute;
	top: 8px;
	left: -54px;
	background-color: rgb(20, 20, 20);
}

.BackIcon {
	width: 24px;
}