.SelectorSearchBar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(43, 43, 43);
}

.SearchIcon {
	width: 16px;
	margin: 0 12px;
}

.SearchInput {
	height: 40px;
	width: 100%;
	flex: 1 0;
	background: transparent;
	color: var(--light-color);
	font-size: 14px;
	font-weight: 500;
	caret-color: var(--bright-green-color);
}